@import "../../assets/globals.scss";
@import "../../assets/colors";

.heroTitlesContainer {
  @extend %site-container;
  margin-top: 15%;

  h1 {
    margin-bottom: 0.5rem;
    line-height: 1;
    color: $white;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 5px;
  }

  h2 {
    color: $white;
    font-weight: 200;
    text-indent: 20px;
  }

  .heroAnchors {
    text-indent: 20px;

    a {
      padding-right: 15px;
    }
  }
}

.heroBannerContainer {
  width: 100%;
}

.heroBanner {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: $tertiary-color;
  
  div {
    @extend %site-container;
  }

  h1 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 15px;
    color: $white;
  }

  h1:nth-child(1) {
    transform: translateX(-135px);
  }
}

.heroSunContainer {
  @extend %site-container;
  
  .heroSun {
    float: right;
    height: 200px;
    width: 400px;
    margin-top: 75px;
    border-radius: 300px 300px 0 0;
    background: $hero-sun;
  }
}

@media #{$display-breakpoint} {
  .heroTitlesContainer {
    h1 {
      font-size: 3.5rem;
    }
  }

  .heroBanner {
    div {
      margin-right: 20px;
    }

    h1 {
      font-size: 1.5rem;
      letter-spacing: 5px;
    }

    h1:nth-child(1) {
      transform: translateX(-75px);
    }
  }
  .heroSunContainer {
    .heroSun {
      height: 100px;
      width: 200px;
      
      div {
        margin-top: 50px;
      }
    }
  }
}
