@import "../../assets/globals.scss";

.heroTitlesContainer {
  margin: 5% 0 0 5%;
  h1 {
    margin-bottom: 0.5rem;
    line-height: 1;
    color: #495867;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 5px;
  }
  h2 {
    color: #0081a7;
    font-weight: 200;
    text-indent: 20px;
  }
  .heroAnchors {
    text-indent: 20px;
    a {
      padding-right: 15px;
    }
  }
}

.heroBannerContainer {
  position: absolute;
  bottom: 15%;
  width: 100%;
}

.heroBanner {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: #457b9d;
  div {
    margin-right: 20%;
  }
  h1 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 15px;
    color: white;
    margin: 1rem;
  }
  h1:nth-child(1) {
    transform: translateX(-135px);
  }
}

.heroSun {
  float: right;
  height: 200px;
  width: 400px;
  border-radius: 300px 300px 0 0;
  background-color: #e63946;
  div {
    margin-top: 75px;
  }
}

.heroCycle {
  position: absolute;
  left: 5%;
  width: 150px;
  top: -14px;
  z-index: 2;
}

@media #{$display-breakpoint} {
  .heroTitlesContainer {
    h1 {
      font-size: 3.5rem;
    }
  }
  .heroBanner {
    div {
      margin-right: 20px;
    }
    h1 {
      font-size: 1.5rem;
      letter-spacing: 5px;
    }
    h1:nth-child(1) {
      transform: translateX(-75px);
    }
  }

  .heroSun {
    height: 100px;
    width: 200px;
    div {
      margin-top: 50px;
    }
  }
}
