@import "../../assets/globals.scss";
@import "../../assets/colors";

.contactContainer {
  height: 94vh;
  text-align: center;
  color: $white;
  h1 {
    margin: 0;
    padding-top: 15vh;
    font-size: 3rem;
    letter-spacing: 10px;
    font-weight: 400;
  }
  h2 {
    letter-spacing: 2px;
    font-weight: 300;
  }
}

.contactAnchors {
  img {
    width: 55px;
    padding: 1rem;
    filter: drop-shadow(0px 0px 5px $white);
  }
  padding-bottom: 10vh;
}

@media #{$display-breakpoint} {
  .contactContainer {
    h1 {
      font-size: 2rem;
    }
  }
  .contactAnchors {
    padding-bottom: 15vh;
  }
}

.contactAnchors img:hover {
  animation: rotate-center 0.6s ease-in-out both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
