@use "../../assets/colors" as colors;
@use "../../assets/globals" as globals;

.layoutFooter {
  @extend %site-container;
  background-color: colors.$primary-color; // Use colors namespace for $primary-color
  z-index: 6;
}

.footerText {
  text-align: center;
  padding: 0.5rem 0;
  font-weight: 200;
  color: colors.$white; // Use colors namespace for $white

  a {
    @include globals.link(
      colors.$white
    ); // Use globals namespace for link mixin
  }
}
