@import "../../assets/colors";
@import "../../assets/globals";

.layoutFooter {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footerText {
  text-align: center;
  margin: auto;
  padding-bottom: 0.5rem;
  font-weight: 200;
  color: $white;

  a {
    @include link($white);
  }
}
