@import "../../assets/globals.scss";
@import "../../assets/colors";

.navbar {
  @extend %site-container;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  height: 6vh;
  margin-top: 20px;
}

.logo {
  padding: 0.8rem;
  a {
    text-decoration: none;
    color: $white;
    font-size: 1.5rem;
  }
}

.navbarLinks {
  display: block;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    @include link($white);
    display: block;
    text-decoration: none;
    padding-left: 75px;
    font-size: 1rem;
  }
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: $white;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbarLinks {
    display: none;
    width: 100%;
    z-index: 5;
    height: 94vh;

    ul {
      background-color: $white;
      width: 100%;
      height: min-content;
      flex-direction: column;
    }

    li {
      border: 2px solid $secondary-color;
      text-align: center;
    }

    a {
      @include link($primary-color);
      padding: 2rem 1rem;
    }
  }

  .navbarLinks.active {
    display: flex;
  }
}
