@use "../../assets/globals" as globals;
@use "../../assets/colors" as colors;

.navbar {
  @extend %site-container;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$primary-color;
  height: 6vh;
}

.logo img {
  width: 100px;

  &:hover {
    width: 110px;
  }
}

.navbarLinks {
  display: block;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    @include globals.link(colors.$white); // Reference the mixin properly
    display: block;
    text-decoration: none;
    padding-left: 75px;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Josefin Sans", sans-serif;

    &:hover {
      color: colors.$secondary-color;
    }
  }
}
