.heroBars {
  div {
    width: 100%;
    margin: 0.5rem 0;
  }
  .heroBars1 {
    height: 18px;
  }
  .heroBars2 {
    height: 15px;
  }
  .heroBars3 {
    height: 12px;
  }
  .heroBars4 {
    height: 9px;
  }
  .heroBars5 {
    height: 6px;
  }
  .heroBars6 {
    height: 3px;
  }
}
