
// Primary colors
$black: #000;
$white: #fff;

// Theme Colors
$primary-color: #495867;
$secondary-color: #0081a7;
$tertiary-color: #457b9d;

//Icons
$icons: #e63946;

//Misc
$hero-sun: linear-gradient(0deg, rgba(230,57,70,1) 40%, rgba(0,212,255,0) 100%);
