@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,700;1,500&display=swap");

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

$display-breakpoint: "only screen and (max-width : 770px)";
